$black: #383838;
$blue: #459AC1;
$hotpink: #EC5D62;

body {
  font-family: futura;
  background-color: $blue;
  text-align: center;
}

.arrow {
  position: absolute;
  bottom: 30px;
  opacity: .5;
  &:hover {
    opacity: .5;
  }
}

.covervid-wrapper {
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: -100;
 }

.covervid-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.social {
  width: 5%;
  margin-left: 10%;
  margin-top: 2%;
  &:hover {
    opacity: .5;
  }
}

.top-bar {
  background-color: $hotpink;
  opacity: .7;
}

.top-bar-middle {
  padding: 15px;
}

.two {
  background-color: white;
  height: 100vh;
}

#logo {
  max-width: 40%;
  max-height: 40%;
  &:hover {
    opacity: .5;
  }
}

#section {
  position: relative;
  display: none;
}
